
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 4rem;
    position: relative;
    z-index: 20;

    & >div {
        display: flex;
        align-items: center;
        width: 30%;
    }

    &__title{
        font-size: 2rem;

    }
}

.navLinks {
    justify-content: space-between;
    &__link{
        margin: 0 5px;

        cursor:pointer;
        padding: 0.5rem .75rem;
        background-color: var(--highlight-color);
        filter: brightness(75%);
        color: black;
        font-size: 1.25rem;
        // using this so I can make it
        &:hover{
            filter: brightness(100%);
        }

    }
}

.nav-right {
    display: flex;
    justify-content: flex-end;
}



.nav-user{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 12px;

    background: var(--good-color);
    text-align: center;
    font: 1.4rem Arial, sans-serif;

    @media (max-width: 550px) {
        display: none;
    }

}

