
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 4rem;
    position: relative;
    z-index: 20;

    & >div {
        display: flex;
        align-items: center;
        width: 30%;
    }

    &__title{
        font-size: 2rem;

    }
}

.navLinks {
    justify-content: space-between;

    &__link{
        background-color: green;
    }
}

.nav-right {
    display: flex;
    justify-content: flex-end;
}



.nav-user{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;

    background: green;
    text-align: center;
    font: 18px Arial, sans-serif;
}

.navLink {
    background-color: var(--background-color);
    padding: 0.5rem;


}
