footer {
    margin-top: auto;
    
}

header, footer {
    background-color: #1E2022;
    font-family: 'Times New Roman', serif;

}

.container {
    min-height: 90vh;
}

a {
    text-decoration: none;
    color: var(--happy-color);
}