/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

:root{
    --background-color: #52616B;
    --font-color:#F0F5F9;
    --nav-color: #1E2022;
    --highlight-color: #C9D6DF;
    --good-color: #228B22;
    
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Courier New', monospace;
    font-size: 16px;
}


#root{ 
    display:flex; 
    flex-direction:column; 
    height: 100vh;
    color: var(--font-color)

}

h1, h2, h3 {
    margin-top: 0;
}