
.pillErrors {
    /* move this to error pill partial */
    position: fixed;
    top: 5%;
    width: 100vw;
    left: 0; 
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: none;
    z-index: 9999;

}


.dashboard {
    min-height: 100vh;
}