

.lotteryList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.opacity{
    opacity: 0.7;
}

.selectRobot{
    text-align: center;
}

.out{
    opacity: 0.3;
}


.selectedContainer {
    background-color: var(--highlight-color);

    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    position: sticky;
    bottom: 0;
    border: 3px solid var(--nav-color);
    color: black;
}

