

.lotteryList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.opacity{
    opacity: 0.7;
}

.selectRobot{
    text-align: center;
}

.out{
    opacity: 0.3;
}


.robotLottery {
    min-height: inherit;
    display: flex;
    flex-direction: column;
}



.selectedContainer {
    position: sticky;
    background-color: var(--highlight-color);
    bottom: 0;
    width: 1200px;
    max-width: 100%;
    border: 3px solid var(--nav-color);
    color: black;
    margin: auto auto 0 auto;
    font-size: 1.3rem;
    min-height: 100px;
    
}



.selectedMessage {
    color: red;

}

.selectedRight {
    font-size: 1rem;
    padding: 0 1rem;
}




.selectedClaim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;
    height: 100%;
}

.selectedRobots {
    padding-left: 3rem;

}

