
.userInfo {
    padding: 2rem;
    font-size: min(1.7em, 4vw);
    display: flex;
    justify-content: space-around;
    background: linear-gradient(110deg, var(--good-color) 50%, dodgerblue 50%);
    font-weight: bold;
}