.uiBtn {
    padding: 0.5rem 1rem;
    background-color: var(--highlight-color);
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;

    &--lg{
        font-size: 2rem;
    }
    &--md{
        font-size: 1.3rem;
    }
    &--primary{
        background-color: var(--happy-color);
        color: black;
    }

    &--secondary{
        background-color: var(--good-color);
    }


    &:hover {
        filter: brightness(1.2);
    }

}