.errorPill {
    background: #ededed;
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 30px;
    color: black;
    z-index: 9999;
}


.errorIcon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: red;
    margin-right: 0.25rem;
    padding: 0.25rem;
}
