.tabs {
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}

.dashboardMenu {
    background-color: var(--nav-color);
    height: 40px;
    overflow: hidden;
}

.tab{
    flex: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 -7px;
    font-size: min(1.4rem, 3vw);
    color: var(--text-color);
    &:not(:last-child) {
        border-right: 2px solid var(--highlight-color);
    }
    transform: skewX(-20deg);
    & > * {
        transform: skewX(20deg);
    }
    z-index: 1;


}

.tab--active {
    background-color: var(--highlight-color);
    color: black;
}
